@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  background: #12141a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #12141a;
}
.bg-connect_wallet {
  background: linear-gradient(180deg, #ff7a00 0%, #ff5c00 100%);
}

.jss24 {
  align-items: center !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.MuiBox-root {
  height: auto !important;
}
.select-dropdown {
  display: flex;
  align-items: center;
}

.select-dropdown > img {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-right: 10px;
}

.Toastify__toast-container {
  font-size: 15px; /* Set your desired font size here */
  font-weight: 300;
  font-family: "Spartan", sans-serif;
}

.Toastify__toast {
  padding: 10px; /* Adjust the padding to change the size */
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 231, 221, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 231, 221, 0.3);
}

.grecaptcha-badge
{
  display: none !important;
}
